<form class="example-form" [formGroup]="fileSearchForm">
    <div align="center">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Search</mat-label>
      <input type="email" matInput (keyup)="searchFiles()" formControlName="fileName"
             placeholder="Search Files">
    </mat-form-field>
</div>
<div>
    <table width="100%" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        
        <ng-container matColumnDef="File Name">
          <th mat-header-cell *matHeaderCellDef>File Name </th>
          <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="File Type">
          <th mat-header-cell *matHeaderCellDef> File Type </th>
          <td mat-cell *matCellDef="let element"> {{element.fileType}} </td>
        </ng-container>
      
     
        <ng-container matColumnDef="Meta Uplaoded">
          <th mat-header-cell *matHeaderCellDef> Last Modified </th>
          <td mat-cell *matCellDef="let element"> {{element.fileLastModified}} </td>
        </ng-container>
      
       
        <ng-container matColumnDef="Size">
          <th mat-header-cell *matHeaderCellDef> Size </th>
          <td mat-cell *matCellDef="let element"> {{element.fileSize}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <table>
        <tr *ngIf="dataSource.data && dataSource.data.length < 1">
          <td colspan="2">
            <span align="center">No Files Found...!</span>
          </td>
        </tr>
      </table> 
</div>


  </form>