:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  :host ::ng-deep .mat-tab-labels {
    flex-direction: column;
  }
  
  #parent {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
  }
  
  :host ::ng-deep .mat-tab-body-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  mat-tab-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  :host ::ng-deep mat-ink-bar {
    display: none;
  }
  
  /* Styles for the active tab label */
  :host ::ng-deep.mat-tab-label.mat-tab-label-active {
      background-color: transparent;
      color: red;
      background-color: black ;
      border-right: 2px solid red;
  }
  /* Styles for the active tab label */
  :host ::ng-deep.mat-tab-label {
      background-color: transparent;
      /* background-color: lightgray; */
  }
  
   .mat-card-header-text {
    width: 100%;
    text-align: center; 
}

.borderprofile{
    border-right:1px solid #cccccc !important;
  }

  .logouttxt{
    color: #e03030 !important;
  }

  .viewprofilebtn{
    width: auto !important;
    color: #838383 !important;
  }
  img {
    border-radius: 50%;
  }

  .dropdown-toggle::after {
      display: none;
  }