<div class="container-fluid">
    <div>
        <div class="container">
            <div id="content">
                <div id="main-content">
                    <nav class="navbar navbar-black bg-black justify-content-between">
                        <div>
                            <img src="./../../assets/images/logo_white.png">
                        </div>
                        <div>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img width="40px"  mat-card-avatar src="./../../assets/images/user-placeholder.jpg"> </a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#one">View Profile</a>
                                  <a class="dropdown-item" (click)="logout()" href="javascript:void(0)">Log Out</a>
                                        <!-- <div class="col-md-12">
                                        <div class="row">
                                        <div class="col-md-8 " align="center">
                                            <a href="javascript:void(0)" class="viewprofilebtn" style="border: none;">Details</a>
                                        </div>
                                        <div class="col-md-2" align="center">
                                            <a class="logouttxt" style="border: none;"  href="javascript:void(0)">Logout</a>
                                        </div>

                                    </div>
                                  </div> -->
                                  
                                </div>
                              </li>
                          
                        </div>

                    </nav>
                    <mat-tab-group  selectedIndex="0" animationDuration="0ms" (selectedTabChange)="changeTab($event)" id="parent">
                        <mat-tab label="Option one">
                            <!-- <div class="example-large-box mat-elevation-z4"> -->
                            <app-files></app-files>
                              <!-- </div> -->
                              
                        </mat-tab>
                        <mat-tab label="Option Two" >
                            <app-searchfiles *ngIf="tabIndex === 1"></app-searchfiles>
                            
                        </mat-tab>
                        <mat-tab label="Option Three">
                            Tab Third Content
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
